In [117]:
\ts 0N!prd sum each flip {any each (2 3)=\:count each value group x} each nn:read0 `:../_input/d02.txt
\ts 0N!a:raze raze {where 1<count each group x} each flip {{(y#x),(y+1) _ x}[x] each til count x} each nn
a~"mxhwoglxgeauywfkztndcvjqr"

6474i

3 27952

"mxhwoglxgeauywfkztndcvjqr"

12 537840

1b

In [158]:
/ Nikita:
(*) . value count each group except [;1#1] raze {distinct value count each group x} each i:nn
(*) . sum each 2 3 in/:\:(count') each group each i:nn
\ts raze {where 1<count each group x[;y except z]}[i;tci] each tci:til count first i

6474

6474i

4 38704

In [157]:
raze raze {where 1<count each group nn[;tc except x]} each tc:til count first nn

"mxhwoglxgeauywfkztndcvjqr"

In [195]:
prd sum each flip {2 3 in count each x} each group each nn

6474i